<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Promociones</title>
</head>

<body>
  <div class="template-container">
    <div style="margin:0px; padding: 0px; background-color: #EBC793; ">
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" height="56" width="100%" bgcolor="#EBC793" style="text-align:center; border-collapse:separate">
        <tbody>
          <tr>
            <td>
              <img data-imagetype="External" src="https://tigre.thenexusbattlesii.online:8081/images/logos/logo.png" width="90" height="70">
            </td>
          </tr>
        </tbody>
      </table>
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#BE684F" align="center" style="text-align: center; border-collapse: separate;">
        <tbody>
          <tr>
            <td align="center" style="padding: 50px 0;">
              <div align="center" style="max-width: 600px;">
                <h2 align="center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 3rem; font-weight: italic; font-style: normal; font-stretch: normal; line-height: 1.5; letter-spacing: 0.5; color: #FFF6A3; margin: 0; padding: 8px;">
                  ¡Enhorabuena!
                </h2>
                <h2 align="center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 25px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.5; letter-spacing: 0.5; color: #ffffff; margin: 0; margin-bottom: 15px; padding: 8px;">
                  Tenemos una promoción especial para ti.
                </h2>
                <img src="<%= data.image %>" align="center" style="width: 360px; height: 370px; border-radius: 10px;">
                <h1 align="center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.5; letter-spacing: normal; color: #ffffff; margin: 0; padding: 0px 8px 8px 8px;">
                  <%= data.cardname %>
                </h1>
                <h2 align="center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 4rem; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.5; letter-spacing: normal; color: #ffffff; margin: 0; padding: 0px 8px 8px 0px;">
                  <%= data.sale %>%
                </h2>
                <p align="center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 2rem; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.5; letter-spacing: 0.5; color: #ffffff; margin-top: -1rem; padding: 0px 4px 4px 4px;">
                  de
                </p>
                <h2 align="center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 4rem; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.5; letter-spacing: normal; color: #FFF6A3; margin-top: -40px; padding: 0px 8px 8px 0px; text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);">
                  DESCUENTO
                </h2>

              </div>

            </td>
          </tr>
        </tbody>
      </table>
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#EBC793" align="center" style="text-align: center; border-collapse: separate;">
        <tbody>
          <tr>
            <td style="padding: 30px 0 12px;">
              <a href="" target="_blank" title="Entrar al Whatsapp de The Nexxus Battles II" style="display: inline-block; margin-right: 16px; text-decoration: none; color: #d98f40;">
                <img src="https://tigre.thenexusbattlesii.online:8081/images/logos/whatsapp.png" width="24" height="24">
              </a>
              <a href="" target="_blank" title="Entrar al Instagram de The Nexxus Battles II" style="display: inline-block; margin-right: 16px; text-decoration: none; color: #d98f40;">
                <img src="https://tigre.thenexusbattlesii.online:8081/images/logos/instagram.png" width="24" height="24">
              </a>
              <a href="" target="_blank" title="Entrar al Youtube de The Nexxus Battles II" style="display: inline-block; margin-right: 16px; text-decoration: none; color: #d98f40;">
                <img src="https://tigre.thenexusbattlesii.online:8081/images/logos/youtube.png" width="24" height="24">
              </a>
              <a href="" target="_blank" title="Entrar al Facebook de The Nexxus Battles II" style="display: inline-block; margin-right: 16px; text-decoration: none; color: #d98f40;">
                <img src="https://tigre.thenexusbattlesii.online:8081/images/logos/facebook.png" width="24" height="24">
              </a>
            </td>
          </tr>
          <tr>
            <td style="padding: 16px 0; text-align: center;">
              <img src="https://tigre.thenexusbattlesii.online:8081/images/logos/logo.png" width="90" height="70">
            </td>
          </tr>
          <tr>
            <td>
              <span class="footer-links" style="text-decoration: none; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 12px; font-weight: 500; font-style: normal; font-stretch: normal; line-height: 1.33; letter-spacing: 0.15; text-align: center; color: rgba(255, 255, 255, 0.8);">
                <a href="" style="text-decoration: none; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 12px; font-weight: 500; font-style: normal; font-stretch: normal; line-height: 1.33; letter-spacing: 0.15px; text-align: center; color: rgba(255, 255, 255, 0.8);">
                  Política de privacidad
                </a>
                |
                <a href="" style="text-decoration: none; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 12px; font-weight: 500; font-style: normal; font-stretch: normal; line-height: 1.33; letter-spacing: 0.15px; text-align: center; color: rgba(255, 255, 255, 0.8);">
                  Términos de servicio
                </a>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>