<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperación de cuenta</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f4f4f4;
    }

    .container {
      text-align: center;
      background-color: #fff;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      color: #333;
      margin-bottom: 20px;
    }

    p {
      color: #666;
      margin-bottom: 20px;
    }

    .code {
      font-size: 24px;
      color: #007bff;
      font-weight: bold;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>¡Hola <%= data.username %></h1>
    <p>Hemos recibido una solicitud para recuperar tu cuenta.</p>
    <p>Tu código de recuperación es:</p>
    <p class="code"><%= data.code %></p>
  </div>
</body>

</html>